USE [master]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 31/01/2020 5:36:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CLIE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIE_NOMBRE] [varchar](100) NULL,
 CONSTRAINT [Clientes_PK] PRIMARY KEY CLUSTERED 
(
	[CLIE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLIZAS]    Script Date: 31/01/2020 5:36:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLIZAS](
	[POLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[POLI_NOMBRE] [varchar](100) NULL,
	[POLI_DESCRIPCION] [varchar](100) NULL,
	[POLI_INICIO_VIGENCIA] [date] NULL,
	[POLI_MESES_COBERTURA] [int] NULL,
	[POLI_PRECIO] [float] NULL,
	[POLI_TIPO_RIESGO] [int] NULL,
	[POLI_TIPO_CUBRIMIENTO] [int] NULL,
 CONSTRAINT [Polizas_PK] PRIMARY KEY CLUSTERED 
(
	[POLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLIZAS_CLIENTE]    Script Date: 31/01/2020 5:36:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLIZAS_CLIENTE](
	[POCL_ID_CLIENTE] [int] NOT NULL,
	[POCL_ID_POLIZA] [int] NOT NULL,
 CONSTRAINT [POLIZAS_CLIENTE_PK] PRIMARY KEY CLUSTERED 
(
	[POCL_ID_CLIENTE] ASC,
	[POCL_ID_POLIZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_CUBRIMIENTO]    Script Date: 31/01/2020 5:36:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_CUBRIMIENTO](
	[TICO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TICO_NOMBRE] [varchar](100) NULL,
	[TICO_DESCRIPCION] [varchar](100) NULL,
	[TICO_PORCENTAJE] [int] NULL,
 CONSTRAINT [TIPOS_CUBRIMIENTO_PK] PRIMARY KEY CLUSTERED 
(
	[TICO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_RIESGO]    Script Date: 31/01/2020 5:36:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_RIESGO](
	[TIRI_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIRI_DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [TIPOS_RIESGO_PK] PRIMARY KEY CLUSTERED 
(
	[TIRI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POLIZAS]  WITH CHECK ADD  CONSTRAINT [POLIZAS_TIPOS_CUBRIMIENTO_FK] FOREIGN KEY([POLI_TIPO_CUBRIMIENTO])
REFERENCES [dbo].[TIPOS_CUBRIMIENTO] ([TICO_ID])
GO
ALTER TABLE [dbo].[POLIZAS] CHECK CONSTRAINT [POLIZAS_TIPOS_CUBRIMIENTO_FK]
GO
ALTER TABLE [dbo].[POLIZAS]  WITH CHECK ADD  CONSTRAINT [POLIZAS_TIPOS_RIESGO_FK] FOREIGN KEY([POLI_TIPO_RIESGO])
REFERENCES [dbo].[TIPOS_RIESGO] ([TIRI_ID])
GO
ALTER TABLE [dbo].[POLIZAS] CHECK CONSTRAINT [POLIZAS_TIPOS_RIESGO_FK]
GO
ALTER TABLE [dbo].[POLIZAS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [POLIZAS_CLIENTE_CLIENTES_FK] FOREIGN KEY([POCL_ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([CLIE_ID])
GO
ALTER TABLE [dbo].[POLIZAS_CLIENTE] CHECK CONSTRAINT [POLIZAS_CLIENTE_CLIENTES_FK]
GO
ALTER TABLE [dbo].[POLIZAS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [POLIZAS_CLIENTE_POLIZAS_FK] FOREIGN KEY([POCL_ID_POLIZA])
REFERENCES [dbo].[POLIZAS] ([POLI_ID])
GO
ALTER TABLE [dbo].[POLIZAS_CLIENTE] CHECK CONSTRAINT [POLIZAS_CLIENTE_POLIZAS_FK]
GO
