<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-md-3 card-title">
                        {{currentMode == modesEnum.Creation ? 'Crear Cliente' : 'Editar Cliente'}}
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="from-group col-md-12">
                        <label>*Nombre del cliente</label>
                        <dx-text-box  [(ngModel)]="client.nombre">
                        </dx-text-box>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <dx-button stylingMode="outlined" text="Guardar" type="success" [width]="150" icon="save"
                        (onClick)="saveClient();">
                    </dx-button>
                </div>
            </div>
        </div>
    </div>
</div>